body {
    margin: 0%;
    background-color: mediumpurple;
    font-family: 'Anton', sans-serif;
}

.container {
    width: 100%;
}

.navigationbar {
    background-color: plum;
    text-align: right;
    padding: 15px;
    text-shadow: 1px 1px gray;
    font-size: 20px;
}
a {
    text-decoration: none;
    margin-right: 5px;
    color: whitesmoke;
    font-family: 'Anton', sans-serif;
}

div.ourcompany {
    text-shadow: 2px 2px gray;
    color: whitesmoke;
    font-family: 'Anton', sans-serif;
    font-size: 35px;
    margin-left: 8px;
    position: absolute;
    top: 1px;
}
.intro {
    margin-left: 30%;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 500px;
}
.title {
    background-color: plum;
    text-shadow: 2px 2px gray;
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 30px;
    text-align: center;
}
.awesomness {
    background-color: plum;
    text-shadow: 2px 2px gray;
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.bold {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.list {
    background-color: plum;
    text-shadow: 1px 1px gray;
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
}

.team {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.team1 {
    text-shadow: 2px 2px gray;
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer {
    background-color: plum;
    text-shadow: 2px 2px gray;
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 10px;
}

@media screen and (max-width: 400px){
    div.ourcompany {
        text-shadow: 2px 2px gray;
        color: whitesmoke;
        font-family: 'Anton', sans-serif;
        font-size: 35px;
        margin-left: auto;
        align-self: center;
    }
    .intro {
        margin-left: 10%;
        margin-top: 30px;
        margin-bottom: 20px;
        justify-content: center;
        width: 300px; 
    }
    .navigationbar {
        background-color: plum;
        padding: 15px;
        text-shadow: 1px 1px gray;
        font-size: 20px;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        margin-top: 50px;
        
    }
    a {
        text-decoration: none;
        color: whitesmoke;
        font-family: 'Anton', sans-serif;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        margin-top: 50px;
    }
    .bold {
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
    }
    .list {
        background-color: plum;
        text-shadow: 1px 1px gray;
        font-family: 'Anton', sans-serif;
        color: white;
        font-size: 20px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }
    .team {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

    }
    .team1 {
        text-shadow: 2px 2px gray;
        font-family: 'Anton', sans-serif;
        color: white;
        font-size: 25px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }
    .footer {
        background-color: plum;
        text-shadow: 2px 2px gray;
        font-family: 'Anton', sans-serif;
        color: white;
        font-size: 25px;
        text-align: center;
        padding: 10px;
        margin-right: auto;
        margin-left: auto;
    }
}
